<h2>Editing Book</h2>
<p id="notice">
  <%= flash[:notice] %>
</p>
<%= form_for(@book) do |f| %>
<%= render 'layouts/error_messages', model: f.object %>
<div>
<%= f.label :title, "Title" %>
<br>
<%= f.text_field :title %>
</div>

<div>
<%= f.label :body, "Body" %>
<br>
<%= f.text_area :body %>
</div>
<%= f.submit "Update Book" %>
<% end %>

<%= link_to "Show", book_path(@book.id) %>
|
<%= link_to "Back", books_path %>